<h1>Eat Da Burger!</h1>

<h2>Burgers yet to be devoured</h2>
<div>
    <ol>
        {{#each burgers}}
        {{#unless devoured}}
        <li>
            {{burger_name}}
            <button class="devour" data-id="{{id}}" data-status="{{devoured}}">
                Devour it!
            </button>
        </li>
        {{/unless}}
        {{/each}}
    </ol>
</div>

<h2>Burgers that were devoured</h2>
<div>
    <ol>
        {{#each burgers}}
        {{#if devoured}}
        <li>
            {{burger_name}}
        </li>
        {{/if}}
        {{/each}}
    </ol>
</div>


<form>
    <input>
</form>